
h1 {
    display: flex;
    justify-content: center;
    color: rgb(126, 124, 124);
    font-family: ScaryDream;
}

h3 {
    color: rgb(209, 208, 206);
    font-family: ScaryDream;
}

body{
    background-image: url("../assets/darkBG.jpg");
}


.class-selector{
    text-align: right;
}

#id-selector{
    text-align: center;
}

#exit {
    color: white;
    font-family: DarkMode;
    font-size: 25px;
    text-align: center;
}

#exit:hover {
    color: crimson;
}

/* Colors */
/*background colors*/
.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-green {
    background-color: rgb(0, 255, 0);
}

.bg-red {
    background-color: rgb(255, 0, 0);
}

.bg-blue {
    background-color: rgb(0, 0, 255);
}

.bg-yellow {
    background-color: rgb(255, 255, 0);
}

.bg-dark {
    background-color: rgb(0, 0, 0);
}

/*text colors*/
.text-red {
    color: red;    
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.text-white {
    color: white;
}

/* Fonts */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.large-text {
    font-size: 22px;
}

.small-text {
    font-size: small;
}

#textbox,#battletext {
    font-size: 24px;
    font-family: Hadeus;
    color: whitesmoke;
    text-align: center;
}


/*font families*/
.arial-font {
    font-family: 'Brush Script MT', cursive;
}

.bangers-font {
    font-family: "Bangers";
}

@font-face {
  font-family: ScaryDream;
  src: url(ScaryDream-p76gy.ttf);
}

@font-face {
  font-family: DarkMode;
  src: url(DarkmodeRegular-X35Oo.ttf);
}

@font-face {
    font-family: Hadeus;
    src: url(Haedus-nRGn4.ttf);
}

@font-face {
    font-family: Forresta;
    src: url(ForrestapersonaluseRegular-rgmLp.otf);
}

.fontScary {
  font-family: ScaryDream;
}

.fontDark {
  font-family: DarkMode;
}

.fontHadeus {
    font-family: Hadeus;
}

.fontForresta {
    font-family: Forresta;
}
/* Spacing */

.outline{
    outline-width: 3px;
    outline-style: dashed;
    outline-color: red;
}

.border{
    border-width: 3px;
    border-style: solid;
    border-color: blue;
}

.padding{
    padding: 20px;
}

.margin{
    margin: 20px;
}

.container{
    width: 90%;
    margin: auto;
}

/* Customizations (to Default HTML Styles) */
a{
    text-decoration: none;
}

a:hover{
    color:crimson;
}

button {
    background: rgb(85, 85, 85);
    background: linear-gradient(rgb(133, 133, 133), rgb(85, 85, 85));
    border: 1px solid rgb(102, 102, 102);
    font-size: 32px;
    font-family: Hadeus;
    transition: all 120ms ease;
}
button:hover{
    animation: pulsate 1.5s linear infinite;
}

@keyframes pulsate {
  0%   { color: #DC143C; text-shadow: 0 -1px 0 rgb(0, 0, 0); }
  50%  { color: #880C25; text-shadow: 0 -1px 0 rgb(68, 68, 68), 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #DC143C; text-shadow: 0 -1px 0 rgb(0, 0, 0); }
}

ul {
  list-style-type: none;
}

li a {
    color: white;
    font-family: DarkMode;
    font-size: 30px;
    text-align: center;
    padding: 16px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    background-color: transparent;
}

tr{
    font-family: DarkMode;
    font-size: 18; 
    color: lightgrey;
}

.center{
    display: flex;
    justify-content: center;
}

.left {
    display: flex;
    justify-content: flex-start;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.justify-space-around{
    display: flex;
    justify-content: space-around;
}

.justify-space-evenly{
    display: flex;
    justify-content: space-evenly;
}
  